body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #76b5c5;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
}

@keyframes rightToLeft {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes color-change {
  50% {
    color: #023047;
  }

  100% {
    color: #e76f51;
  }
}

@keyframes bottomTop {
  0% {
    transform: translatex(500px) translatey(500px);
    opacity: 1
  }

  100% {
    transform: translatex(0px) translatey(0px);
    opacity: 0
  }
}

#titleDescription {
  padding-left: 20%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Bold';
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
  animation: color-change 3s infinite;
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 600;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

.word {
  font-size:3em;
  font-weight:bold;
  float:left;
  opacity:0;
  position:absolute;
  top:40%;
  left:40%;
}

.w1 {
  animation: w1anim 10s infinite;
}

.w2 {
  animation: w2anim 10s infinite;
}

.w3 {
  animation: w3anim 10s infinite;
}

@keyframes w1anim {
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  20% {
    opacity:0;
  }
}


@keyframes w2anim {
  20%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  40% {
    opacity:0;
  }
}

@keyframes w3anim {
  40%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  60% {
    opacity:0;
  }
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

.container-fluid {
  padding: 3% 15% 15%;
}

#homePicture {
  transform: rotate(10deg);
  position: relative;
  width: 120%;
  right: 1%;
  animation-duration: 3s;
  animation-name: rightToLeft;
}

#flyingBird {
  position: relative;
  animation-duration: 3s;
  animation: bottomTop 3s infinite;
  width: 70%;
  opacity: 0;
}

.bannerWrapper{
		background: url('../images/muriwai4.jpg');
		width: 300px;
		height: 600px;
		box-sizing: border-box;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		padding-top: 34px;
		line-height: 34px;
		display: flex;
		flex-direction: column;
		overflow: hidden;
    animation: xfade 15s infinite;
	}

  @keyframes xfade{
  50% {
    background: url('../images/muriwai1.jpg');

  }
  75% {
    background: url('../images/muriwai2.jpg');
  }
  99% {
    background: url('../images/muriwai3.jpg');

  }
}


	.bannerTop{
		color: #023047;
		font-size: 31px;
		text-align: center;
		font-weight: 100;
		letter-spacing: 0px;
	}


	.bannerTop div{
		animation-name: bannerTopA;
		transform: translateX(-300px);
		animation-duration: 10s;/*1sec actual*/
		/*animation-direction: alternate;*/
		animation-iteration-count: infinite;
		animation-fill-mode: forwards;
		opacity: 0;
	}
	.bannerTop div:nth-child(1){
		animation-delay: 0.2s;
	}
	.bannerTop div:nth-child(2){
		animation-delay: 0.4s;
	}
	.bannerTop div:nth-child(3){
		animation-delay: 0.6s;
	}
	.bannerTop span{
		font-size: 39px;
		line-height: 39px;
		font-weight: 700;
	}

	.bannerTopSub{
		margin-top: 26px;
		color: white;
		width: 143px;
		height: 75px;
		background-color: #9d2801;
		border-bottom-left-radius: 34px;
		border-top-left-radius: 34px;
		padding-left: 22px;
		font-size: 22px;
		line-height: 22px;
		display: flex;
		box-sizing: border-box;
		align-self: flex-end;

		animation-name: bannerTopSubA;
		transform: translateX(300px);
		/*animation-delay: 3s; /*disappears at 7.5s*/
		animation-duration: 10s;/*delay till 3sec/ 3.7sec full duration, actual duartion - 0.8s(21.6%)*//*disappears at 7.5s*/
		animation-iteration-count: infinite;
		animation-fill-mode: forwards;
		opacity: 0;
	}
	.bannerTopSub div{
		margin: auto;
		margin-left:0;
	}
	.bannerTopSub span{
		font-size: 34px;
		line-height: 34px;
	}

	.bannerGuarantee{
		margin-top: 40px;
		color: #FFFFFF;
		display: flex;
		line-height: 1;
		align-self: center;
	}
	.bannerLike{
		width: 46px;
		height: 47px;
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAvCAMAAACrOwigAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAJlQTFRFAAAAozEDhQAAnCUBskwFhQAAhQAAnCUB97YGlRsA97YGtVEEyWsF/sEI5p8FiwoAhQAA97YGiwoAhQAAozEDpzsFwmEF4JEFlRsAiwoA1oUI5qgHozEDmyQA4JEFtVEEtVEE0XoG0XoGnCUBy28FlRsA/sEI5p8FlRsApzsFskwFskwFskwFmyQAmyQApzsFmyQAwmEFiwoAcrO4gQAAADN0Uk5TAPX/9eHr9esY/xfr/////9j/4eH///9e4ev//+v///X///X///UYYuvr9f/r9eH16+v1gk5eCAAAAalJREFUeJyt1WtXgkAQBmB4bScxlo1ct4REDCu7X/7/j2uXhc06ksM5vZ8UH8dhzjJG0cHEmBz+4FBOBIHE6ZTJBZAAOJ2x9BkhlZkC8YrHgJTW0/kILlMIFhdIHM8VXXD4HNpxueCVF/ZOXQzE5XF9Rcg6zpmN6Hph8dmSULD5dIK+OKd3q1XZ8cVA9ZhcYvuKrM46Le0xWF7Hba5dm6HgXlZBV3tXiYRYrlu+j5XJey1r/ApNfHFfMIWqSzmUbJOAbly7uv/xzSB2KYHmB6/+5FIDY3gyittJaR7fGmMWdjYpjyd+krd3/GYq1T4t7N7rcdyfZzbXEPd8vgHtWNVL4+fY7oXjfNOdyAceb2OAxxFcAvEInoHGNNMvWB7PFebfPNvmg7ywY3xSwHPghX2o8yG+8mN8mQauVznSP5op7WN9HwVeqwZZhaYY8iasesfzWhd+DWlT5Qd4091oFO0IHqT9+mmettXPhbMFvUahPLRNY9fU225u/4G76BC7LPvi0eyVvCBx5t4/vwgKX+nXXdBus+7aDfz+feFjHfut7PP5cGTN/1O+ANxvRt7djPIHAAAAAElFTkSuQmCC');
		margin-right: 9px;
		animation-name: bannerLikeA;
		animation-iteration-count: infinite;
		transform: translateY(300px);
		animation-duration: 10s;
		animation-fill-mode: forwards;
		opacity: 0;
	}
	.guaranteeLine{
		animation-name: bannerGuaranteeLineA;
		animation-iteration-count: infinite;
		transform: translateX(300px);
		animation-duration: 10s;/*delay is 3 sec, actual duration 0.8s. disappears at 7 same way it appeared*/
		animation-fill-mode: forwards;
		opacity: 0;
	}
	.guaranteeLine:nth-child(1){
		animation-delay: 0.15s;
	}
	.guaranteeLine:nth-child(2){
		animation-delay: 0.2s;
	}
	.guaranteeLine:nth-child(3){
		animation-delay: 0.25s;
	}

	.bannerBottom{
		margin-top: 46px;
		align-self: center;
	}
	.findOutMore{
		background-color: #3d3d3c;
		color: white;
		width: 200px;
		height: 50px;
		border: 0;
		border-radius: 3px;
		font-size: 13px;
		letter-spacing: 0px;
		font-weight: 900;
		margin: 0;
		padding: 0;

		animation-name: bannerfindOutMoreA;
		animation-iteration-count: infinite;
		animation-duration: 10s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
		opacity: 0;
	}
	@keyframes bannerTopA {
		0% {transform: translateX(-300px); opacity: 0;}
		10% {transform: translateX(0px); opacity: 1;}
    30% {color: #ee8248;}
    50% {color: #7F00FF;}
    70% {color:  #F4F5FF;}
		90% {transform: translateX(0px); opacity: 1;color: #023047;}
		100% {transform: translateX(-300px); opacity: 0;}
	}
	@keyframes bannerTopSubA {
		/*delay till 3sec/ 3.8sec full duration, actual duartion - 0.8s*//*disappears at 7.5s*/
		0% {transform: translateX(300px); opacity: 0;}
		30% {transform: translateX(300px); opacity: 0;}
		38% {transform: translateX(0px); opacity: 1;}
		75% {transform: translateX(0px); opacity: 1;}
		83% {transform: translateX(300px); opacity: 0;}
		100% {transform: translateX(300px); opacity: 0;}
	}
	@keyframes bannerLikeA {
		/*delay 3.6s, actual duration 0.3s, starts disappearing at 7 same way it appeared*/
		0% {transform: translateY(300px); opacity: 0;}
		36% {transform: translateY(300px); opacity: 0;}
		39% {transform: translateY(0px); opacity: 1;}
		70% {transform: translateY(0px); opacity: 1;}
		73% {transform: translateY(300px); opacity: 0;}
		100% {transform: translateY(300px); opacity: 0;}
	}
	@keyframes bannerGuaranteeLineA {
		/*delay is 3 sec, actual duration 0.8s. disappears at 7 same way it appeared*/
		0% {transform: translateX(300px); opacity: 0;}
		30% {transform: translateX(300px); opacity: 0;}
		38% {transform: translateX(0px); opacity: 1;}
		70% {transform: translateX(0px); opacity: 1;}
		78% {transform: translateX(300px); opacity: 0;}
		100% {transform: translateX(300px); opacity: 0;}
	}
	@keyframes bannerfindOutMoreA {
		/*delay 3.2s, actual: 1.3s, starts disapp at 6s*/
		0% {opacity: 0;}
		32% {opacity: 0;}
		36% {opacity: 1;font-family: 'Roboto', sans-serif;font-size: 15px;}
		38% {opacity: 1;font-family: 'Roboto', sans-serif;font-size: 15px;}
		42% {opacity: 0;}
		45% {opacity: 1;font-family: 'Fredoka One', cursive;font-size: 15px;}
		60% {opacity: 1;font-family: 'Fredoka One', cursive;font-size: 15px;}
		64% {opacity: 0;}
		66% {opacity: 0;}
		70% {opacity: 1;font-family: 'Roboto', sans-serif;font-size: 15px;}
		73% {opacity: 0;}
		100% {opacity: 0;}
	}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-brand:hover {
  font-size: 5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* Title Image */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
}

/* features */
#features {
  background-color: #fff;
  padding: 7% 15%;
  position: relative;
}

.features-icon {
  color: #76b5c5;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: #023047;
}

.features-info {
  color: #8f8f8f;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

/* Testiminials */
#testimonials {
  text-align: center;
  background-color: #76b5c5;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-test {
  font-size: 3rem;
  line-height: 1.5;
}

#press {
  background-color: #76b5c5;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Footer */

footer {
  text-align: center;
  padding-top: 70px;
}

.copyright {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

div.copyright:first-of-type {
  animation: showup 7s infinite;
}

div.copyright:last-of-type {
  width: 0px;
  animation: reveal 7s infinite;
}

div.copyright:last-of-type span {
  margin-left: -355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }

  20% {
    margin-left: -800px;
  }

  35% {
    margin-left: 0px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }

  20% {
    opacity: 1;
    width: 0px;
  }

  30% {
    width: 355px;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 355px;
  }
}

.social-icon {
  margin: 20px 10px;
}
